<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
    <div class="box text-left">
        <p id="notice"><%= notice %></p>

        <h1>Mapa de procesos de la compañia</h1>

        <div class="row">
        <div class="small-12 medium-12 large-12 columns">
          <% Step.walk_tree do |step, level| %>
            <% if step.root? %>
              <br />
              <%= link_to "#{' » '*level}#{step.t_description}", step_path(step) %><br />
            <% else %>
              <%= link_to "#{' » '*level}#{step.t_description}", step_path(step) %><br />
            <% end %>
          <% end %>
        </div>
        </div>

        <br>
        <%= link_to 'Nuevo Proceso', new_step_path %>
        <br>
        <A HREF="/processmap/match">Mapear practicas especificas con mapa de proceso</A>
        <br>
        <A HREF="/processmap/match">Cargar documento del mapa de procesos</A>
   </div>    
  </div>
</div>
