<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
    <div class="box text-left">      		

		<h1>Editar linea base</h1>

		<%= render 'form' %>

		<%= link_to 'Ver', @base_line %> |
		<%= link_to 'Regresar', base_lines_path %>
    </div>    
  </div>
</div>