<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
    <div class="box text-left"> 		
		<h1>Editar</h1>

		<%= render 'form' %>

		<%= link_to 'Ver', @project_step %> |
		<%= link_to 'Regresar', project_steps_path %>

    </div>    
  </div>
</div>